body{
    margin: 0;
}

#nombre{
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    margin-left: 520px;
    border:4px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#logo{
    width: 6%;
    border-radius: 10%;
    margin-left: 5px;
    margin-top: 5px;
}

header{
    display: flex;
}


#dios{
    border-radius: 5%;
    margin-left: 5px;
    margin-top: 5px;
    height: 550px;
}