body{
    margin: 0;
}

#nombre{
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    margin-left: 520px;
    border:4px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#logo{
    width: 4%;
    height: 4%;
    border-radius: 10%;
    margin-left: 5px;
    margin-top: 15px;
}

header{
    display: flex;
}


#dios{
    border-radius: 5%;
    margin-left: 5px;
    margin-top: 5px;
    height: 550px;
}

#contenedor-principal{
    display: flex;

}

#contenedor-objetos{
    margin-left: 50px;
    padding-top: 50px;
    flex-wrap: wrap;
    width: 404px;
}

img:hover{
    cursor: pointer;
}

#contenedor-objetos img{
cursor: pointer;
margin-top: 10px;
border-radius: 10%;
}

#reliquia-1{
margin-left: 70px;
}
