body{
    margin: 0;
    background: url(https://web2.hirez.com/smite//wp-content/uploads/2015/06/conquest-background-optimized.jpg);
    margin-bottom: 0;
}

#nombre{
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    margin-left: 520px;
    border:4px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#logo{
    width: 4%;
    height: 4%;
    border-radius: 10%;
    margin-left: 5px;
    margin-top: 15px;
}

header{
    display: flex;
}


#dios{
    border-radius: 5%;
    margin-left: 5px;
    margin-top: 58px;
    margin-bottom: 35px;
    height: 390px;
}

#contenedor-principal{
    display: flex;
    background-position: bottom;
}

#contenedor-objetos{
    margin-left: 50px;
    padding-top: 50px;
    flex-wrap: wrap;
    width: 402px;
}

img:hover{
    cursor: pointer;
}

#contenedor-objetos img{
cursor: pointer;
margin-top: 10px;
border-radius: 10%;
}

#reliquia-1{
margin-left: 50px;
}

.objetos{
    height: 100px;
}
